* {
    margin: 0;
}
.header {
    background-color:hotpink;
    color:ivory;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    
}

.nav a {
    color: ivory;
    text-decoration: none;
    text-transform: uppercase;
    margin: 10px;
}

.header h1 {
    margin-left: 10px;
}

.section,
.staff {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-top: 10px;
}

.item h1 {
    font-weight: bold;
    margin-bottom: 5px;
}

.section .item {
    height: 400px;
    margin: 10px;
    padding: 10px;
}

.section .portfolio {
    width: 70%;
    text-align: justify;
}

.section .prof {
    width: 20%;
}

.item .btn {
    width: 80px;
    background-color:lightpink;
    padding: 10px;
}

.item img {
    width: 100%;
    height: 340px;
}

.btn a {
    text-decoration: none;
    color:black;
}

.quote {
    background-color:lightpink;
    text-align: center;
    color:dimgray;
    padding: 20px;
}

.quote p {
    font-size: 25px;
    font-style: italic;
}



.staff .staffMember {
    width: 30%;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.members h2 {
    text-align: center;
}

.staffMember p {
    font-weight: bold;
}

.staffMember a {
    text-decoration: none;
    color:black;
}


.staffImage {
    width: 200px;
    height: 200px;
    margin: auto;
}

.staffImage img {
    width: 100%;
    height: 100%;
}

.favorites img {
    width: 150px;
    height: 150px;
}

.pageHeading {
    text-align: center;
}



/** Contact CSS **/
form {
    width: 80%;
    margin: 10px auto;
}

fieldset {
    padding: 20px;
    font-size: 25px;
}

form div {
    margin: 10px 0;
}

legend {
    color: white;
    border: 2px solid #000;
    padding: 10px 30px;
    background-color: deeppink;
}

select {
    padding: 5px 20px;
    text-align: left;
    font-size: 18px;
}

.in {
    width: 500px;
    padding: 5px 0;
    float: right;
    font-size: 18px;
}

.submitBtn {
    padding: 5px 15px;
    background-color: deeppink;
    color: white;
    float: right;
}

footer {
    display: flex;
    flex-flow: row wrap;
    background-color:hotpink;
    color: ivory;
    justify-content: space-around;
}

.footer-contact img,
.social-media-icons img {
    width: 25px;
    height: 25px;
}

.footer-item {
    width: 30%;
    margin: 10px;
}

.footer-item li {
    list-style-type: none;
}

.footer-item li a {
    text-decoration: none;
    color: ivory;
}